# Build outputs
build/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap

# Build results
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Intermediate files
ipch/
*.aps
*.res
*.idb
*.manifest
*.exp

# Project specific
lib/*
!lib/.gitkeep
include/detours.h

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Jetbrains specific
.idea/